body {
    background: url(../img/stype/bg.jpeg);
    background-size: cover;
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 170%;
}

input {
    height: 22px;
    line-height: 22px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.checkerboard-box {
    width: 620px;
    margin: auto;
}

.tgr {
    opacity: 0.3;
}

.dc {
    clear: both;
}

.dn {
    display: none
}